# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import pandas as pd
import numpy as np

Next, import `Orders` from Ironhack's database into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
orders = "orders.csv"
orders=pd.read_csv(orders)
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [3]:
# your code here
amount_spent = orders.groupby("CustomerID")["amount_spent"].sum()# agrupo ID de clientes y sumo sus gastos...
amount_spent
#orders["amount_spent"]= amount_spent

CustomerID
12346    77183.60
12347     4310.00
12348     1797.24
12349     1757.55
12350      334.40
           ...
18280      180.60
18281       80.82
18282      178.05
18283     2094.88
18287     1837.28
Name: amount_spent, Length: 4339, dtype: float64

In [4]:
# Calculando cuantiles
quantiles = amount_spent.quantile([0.25, 0.75]) 
# Seleccionando clientes en el rango
selected_customers = amount_spent[(amount_spent >= quantiles[0.25]) & (amount_spent <= quantiles[0.75])]
selected_customers

CustomerID
12350     334.40
12354    1079.40
12355     459.40
12358    1168.06
12363     552.00
          ...
18252     526.67
18261     324.24
18263    1213.16
18265     801.51
18276     335.86
Name: amount_spent, Length: 2169, dtype: float64

In [79]:
# Creando una nueva columna 'customer_type' y etiquetando a los clientes
orders["customer_type"] = "Normal"
orders.loc[orders["CustomerID"].isin(selected_customers.index), "customer_type"] = "VIP"

In [86]:
orders.customer_type

0         Normal
1         Normal
2         Normal
3         Normal
4         Normal
           ...
397919       VIP
397920       VIP
397921       VIP
397922       VIP
397923       VIP
Name: customer_type, Length: 397924, dtype: object

In [7]:
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent,customer_type
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,Normal
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,Normal
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,Normal
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,Normal
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,Normal

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [65]:
# your code here
vip_customers_by_country = orders[orders["customer_type"] == "VIP"].groupby("Country")["customer_type"].count()
vip_customers_by_country.sort_values(ascending=False)

Country
United Kingdom          114660
France                    1850
Germany                   1537
Spain                      869
Switzerland                472
Belgium                    448
Portugal                   356
Netherlands                277
Unspecified                244
Austria                    236
Italy                      229
Sweden                     168
USA                        168
Finland                    167
Poland                     164
Channel Islands            159
Australia                  157
Denmark                    152
Cyprus                     151
Greece                     113
United Arab Emirates        68
European Community          60
RSA                         58
Malta                       45
Lithuania                   35
Norway                      33
Brazil                      32
Japan                       30
Czech Republic              25
Bahrain                     13
Canada                       1
Name: customer_type, dtype: int64

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [ ]:
# your code here

In [97]:
customers_by_country = orders[(orders["customer_type"] == "VIP") | (orders["customer_type"] == "Normal")].groupby("Country")["customer_type"].count()
customers_by_country_sorted = customers_by_country.sort_values(ascending=False)
customers_by_country_sorted

Country
United Kingdom          354345
Germany                   9042
France                    8342
EIRE                      7238
Spain                     2485
Netherlands               2363
Belgium                   2031
Switzerland               1842
Portugal                  1462
Australia                 1185
Norway                    1072
Italy                      758
Channel Islands            748
Finland                    685
Cyprus                     614
Sweden                     451
Austria                    398
Denmark                    380
Poland                     330
Japan                      321
Israel                     248
Unspecified                244
Singapore                  222
Iceland                    182
USA                        179
Canada                     151
Greece                     145
Malta                      112
United Arab Emirates        68
European Community          60
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              25
Bahrain                     17
Saudi Arabia                 9
Name: customer_type, dtype: int64